body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgba(97,236,135,1), rgba(176,126,52,1));
    color: white;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}